<nav class="site-nav">
  <div class="nav-container">
    <div class="nav-logo">
      <a href="{{ '/' | url }}"><img src="{{ '/img/logo.svg' | url }}" alt="WikiZEIT logo" class="logo-image" width="112" height="40" /></a>
    </div>
    <div class="nav-links">
      <a class="nav-link{% if page.url == '/blog/' %} active{% endif %}" href="{{ '/blog/' | url }}">Blog</a>
      <a class="nav-link" href="/oferta/">Szkolenia i Konsultacje</a>
      <a class="nav-link{% if page.url == '/about/' %} active{% endif %}" href="{{ '/about/' | url }}">O projekcie</a>
      <a class="nav-link{% if page.url == '/materialy/' %} active{% endif %}" href="{{ '/materialy/' | url }}">Materiały</a>
      {% assign translate_page_url = site.url | append: page.url | url_encode %}
      <a class="nav-translate" href="https://translate.google.pl/translate?sl=auto&tl=en&hl=pl&u={{ translate_page_url }}&client=webapp" rel="nofollow">
        &#127468;&#127463; Read in English
      </a>
      <a class="nav-cta" href="{{ '/contact/' | url }}">
        Kontakt
      </a>
    </div>
    <a href="{{ '/search/' | url }}" class="nav-search" aria-label="Szukaj">
      <span class="material-symbols-outlined">search</span>
    </a>
    <div class="theme-toggle">
      <input name="mode" type="radio" id="mode_light" value="light" aria-label="Jasny motyw" autocomplete="on"/>
      <label for="mode_light" title="Jasny motyw">
        <span class="material-symbols-outlined">light_mode</span>
      </label>
      <input name="mode" type="radio" id="mode_dark" value="dark" aria-label="Ciemny motyw" autocomplete="on"/>
      <label for="mode_dark" title="Ciemny motyw">
        <span class="material-symbols-outlined">dark_mode</span>
      </label>
    </div>
    <button class="menu-button">
      <span class="material-symbols-outlined">menu</span>
    </button>
  </div>
</nav>
